<head>
    <link href="/css/shopdashboard.css" rel="stylesheet" type="text/css">
    <title>Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <script src="https://kit.fontawesome.com/9b7774b861.js" crossorigin="anonymous"></script>
</head>
 <br>
<h1>Welcome Admin</h1>

<div class="wrapper">
    <ul>
      <li class="home"><a href='/shopdashboard' title="Home"><i class="fa-solid fa-house-user"></i><p>Home</p></a></li>
      <li class="custdata"><a href='/custdata' title="Click here to view Customer Data"> <i class="fa-solid fa-users"></i><p>Customer Data</p></a></li>
      <li class="Inventory"><a href="/inventory-data" title="Click here to view Inventory Data"><i class="fa-solid fa-desktop" ></i><p>Inventory Data</p></a></li>
      <li class="transaction"><a href='/ledger' title="Click  here to view Transaction Data"><i class="fa-solid fa-money-bill-transfer"></i><p>Transaction Data</p></a></li>
      <li class="add"><a href="/addtransaction"="Click  here to add Transaction Data"><i class="fa-solid fa-circle-plus"></i><p>Add Transaction</p></a></li>
      <li class="logout"><a href='/logout' title="Logout"><i class="fa-solid fa-door-open"  ></i><p>Logout</p></a></li>
    </ul>
  </div>

